// ===== HTML general ===== //
$browser-context: 16;

// ===== Container ===== //
$mar: 16;
$items: 12;
$content-width: 1260;
$content-width-sm: 1136;
$content-width-lg: 1580;
$container: $content-width + 2 * $mar;
$container-sm: $content-width-sm + 2 * $mar;
$container-lg: $content-width-lg + 2 * $mar;

// ===== Fonts ===== //
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Arial', sans-serif;
$font-size-primary: 1rem;
$font-size-mobile: 1rem;
$font-weight-primary: 400;
$body-line-height: 1.4;
$heading-line-height: 1.2;

// ===== Colors ====== //
// Main
$color-black: #000;
$color-white: #fff;
$color-grey: #c8c8c8;
$color-lime: #ABDB51;
$color-blue: #02ADEF;
$color-teal: #5EC0C8;

// State
$color-success: #28a745;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-info: #17a2b8;

// Primary / Secondary
$color-primary: $color-lime;

// ===== Transitions ===== //
$transition-duration-primary: 0.35s;
$transition-duration-short: 0.25s;
$transition-duration-long: 0.5s;
$transition-primary: all $transition-duration-primary ease;

// ===== Borders ===== //
$border-radius-primary: 0.25rem;

// ===== Box-shadows ===== //
$box-shadow-primary: 0 0 1rem rgba($color-primary, 0.25);

// ====== Breakpoints Map ===== //
$breakpoints: (
  2xs: 320px,
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1280px,
  xl: 1440px,
  2xl: 1560px,
);
